/.gradle/
/.idea/
/build/
/build/classes/
/build/generated/
/build/libs/
/build/resources/
/build/tmp/
/server/
/gradle/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/gradle.properties
/libs/
